.App {
  text-align: center;
  background: url("./assets/images/HackMerced.png");
  background-repeat: no-repeat;
  background-position: center 10px;
}

.App-header {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  /* background-image: url("./assets/images/raccoon.png");
  background-position: bottom -120px right -170px;
  background-repeat: no-repeat; */
  overflow: hidden;
}

.Raccoon {
  position: absolute;
  bottom: -110px;
  right: -160px;
}
