.App {
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
}

.App-header {
  min-width: 80vh;
  min-height: inherit;
  color: white;
  margin-top: 160px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Raccoon {
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10000;
  transition: transform .3s; /* Animation */
}

.Raccoon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
