.App-content {
    justify-content: end;
}

.TracksContainer {
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    padding: 0 20px;
}

.TracksContainer > h3 {
    text-align: center;
    margin: 1rem auto .5rem auto;
}

.TracksContainer > h3:not(:first-of-type) {
    margin: 2rem auto .5rem auto;
}

/* Main Tracks */

.Tracks {
    justify-content: center;
    margin:0 auto;
}

.Tracks > div {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px 20px;
    width: 250px;
    height: 250px;
    border: 1px solid white;
    padding: 2rem 1.5rem .5rem 1.5rem;
    border-radius: 2px;    
}

.Tracks > div > span {
    font-size: 2rem;
}

.Tracks > div > .TrackIcon {
    position: relative;
    bottom: .5rem;
    margin-right: 1rem;
}

.Tracks > div > p {
    text-align: left;
}

/* Subcategories */

.Subcategories {
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.Subcategories > div {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px 20px;
    width: 180px;
    height: 170px;
    border: 1px solid white;
    padding: 2rem 1.5rem .5rem 1.5rem;
    border-radius: 2px;
}



.Subcategories > div > span {
    font-size: 1.2rem;
    font-weight: bold;
}

.Subcategories > div > .TrackIcon {
    position: relative;
    bottom: .5rem;
    margin-right: 1rem;
}

.Subcategories > div > p {
    text-align: left;
}

.Subcategories > div > .Prizes {
    min-height: 60px;
}

.Prizes {
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: bold;
    margin: .5rem 0;
}

.Prizes > .TrophyIcon {
    position: relative;
    bottom: 1px;
    margin: 0 .8rem 0 0;
}

@media screen and (max-width: 800px) {
    .Tracks > div > span {
        font-size: 1.5rem;
    }
    .Subcategories > div > span {
        font-size: 0.8rem;
        font-weight: bold;
    }
}