.raccoon-family {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20px;
}

button {
    background: transparent;
    border: none;
}

.raccoon-btn {
    width: 100px;
    top: -160px;
    right: 0;
}
 
.raccoon1 {
    top: 0;
    right: 0;
    width: 300px;
}  

.raccoon2 {
    bottom: 0;
    left: 400px;
    width: 230px;
}  

.raccoon3 {
    bottom: 0;
    left: 0;
    width: 320px;
}  

.raccoon4 {
    top: 0;
    left: 0;
    width: 200px;
}  

.raccoon5 {
    right: 400px;
    width: 180px;
}  

.raccoon6 {
    bottom: 0;
    width: 150px;
}  

.raccoon {
    position: absolute;
    z-index: 100000;
    transition: transform .3s; /* Animation */
    overflow-x: hidden;
}

.raccoon:hover {
    transform: scale(1.2);
    cursor: pointer;
}
 
@media screen and (max-width: 600px) {
    .raccoon-btn {
        width: 80px;
        top: -120px;
    }
}

@media screen and (max-width: 450px) {
    .raccoon-btn {
        width: 50px;
        top: -80px;
    }
}