.Timer {
    background-color: rgb(2,0,36);
    padding: 5px;
    position: relative;
    margin: 10px auto;
    border-radius: 15px;
    border: 4px solid #007d9e;
    color: #007d9e; 
    width: 250px;
    text-align: center;
}

.time {
    display: inline-block;
    margin: 10px;
    font-size: 1.5em;
}

.Timer span {
    font-size: 50px;
    color: #fff;
}