.App-content {
    justify-content: end;
}

.Tracks {
    display: flex;
    width: 70%;
}

.Tracks > div {
    margin: 0 2rem 0 0;
    width: 33.333%;
    border: 1px solid white;
    padding: 2rem 1rem .5rem 1rem;
    border-radius: 2px;    
}

.Tracks > div:last-of-type {
    margin: 0;
}

.Tracks > div > span {
    font-size: 2rem;
}

.Tracks > div > .TrackIcon {
    position: relative;
    bottom: .5rem;
    margin-right: 1rem;
}

.Tracks > div > p {
    text-align: left;
}
